.ui.borderless.topmenu.container.menu {
  height: 80px;
  box-shadow: none;
  border: none;
  background-color: #fbfbfb;
}



.ui.borderless.botmenu.container.menu {
  height: 10%px;
  box-shadow: none;
  border: none;
  background-color: #fbfbfb;
  color: darkblue;
  padding: 0px;
}

.murphys-background {
  background: url(scuba.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 450px;
  color: white;
  align-items: center;
}
